/* FORMATAÇÃO GERAL */

:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
}

:root {
  --fundo-1: #111111;
  --fundo-2: #000000;
  --texto: #ffffff;
}

@media (prefers-color-scheme: dark) {
}

body {
  display: grid;
  background: var(--fundo-1);
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  margin: 0px;
  color: var(--texto);
}

p {
  font-size: 1.2rem;
  margin: 0px;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  padding: 2rem;
}

li {
  padding: 1rem 0px 0px 1rem;
}

img {
  max-width: 100%;
  border-radius: 4px;
  display: block;
}
@media (max-width: 600px) {
  .bikepreta {
    grid-row: -2;
  }
}

a {
  text-decoration: none;
  background: var(--fundo-2);
  transition: 0.3s;
  color: var(--texto);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0px;
}

li a:hover {
  border: 3px solid var(--cor-primaria-escura);
}

section a:hover {
  background: var(--cor-primaria-escura);
}

@media (max-width: 600px) {
  section {
    text-align: right;
  }
}

/* ///////////////////////////////////////////// */

/* CABEÇALHO */

.logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 4rem;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  border-radius: 4px;
  padding: 1rem;
  margin: 2.5rem;
  max-width: 100%;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  ul {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem;
    text-align: center;
  }
  li {
    padding: 1rem;
    background: none;
    margin: 0.05rem;
  }
}
/* ///////////////////////////////////////////// */
/* CONTEUDO PRINCIPAL*/

.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    text-align: right;
    max-width: 90%;
    margin: auto;
  }
  h1 {
    align-content: center;
  }
}

.botao {
  background: var(--cor-primaria);
  text-transform: uppercase;
  padding: 1rem;
  color: var(--fundo-2);
  border-radius: 4px;
  width: 5rem;
}

.info {
  display: grid;
  place-items: start;
  place-self: start;
  gap: 2rem;
  justify-items: right;
  text-align: right;
  padding: 2rem 0px;
  position: relative;
  background: var(--fundo-2);
}

@media (max-width: 600px) {
  .info {
    text-align: right;
  }
  h1 {
    align-content: center;
  }
}

.detalhe {
  width: 60px;
  height: 4px;
  background: var(--cor-primaria);
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: -80px;
}

@media (max-width: 600px) {
  .detalhe {
    right: 0px;
  }
}

/* ////////////////////////////////////////////// */
/* VANTAGENS BIKCRAFT */

.titulo {
  text-transform: uppercase;
  font-size: 64px;
  color: #c6c6c6;
  grid-row: 2 / 5;
  align-self: center;
  text-align: right;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 60px;
  }
}

.vantagensitem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding-right: 5rem;
  padding-left: 3rem;
}

.vantagensitem:hover {
  border-left: 3px solid var(--cor-primaria-escura);
}

div:hover {
  border-left: var(--cor-primaria);
}

.vantagensitem p {
  grid-column: 2;
}

@media (max-width: 600px) {
  .vantagensitem {
    padding: 1rem;
    text-align: left;
  }

  .rodape {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    padding-bottom: 5rem;
  }

  /* RESPONSIVO */

  @media (max-width: 600px) {
    img {
      display: grid;
    }
  }
}
